/frontend/node_modules
/frontend/.env
/frontend/.env.development
/frontend/.env.production
/backend/node_modules
/backend/.env
/backend/.env.development
/backend/.env.production
node_modules
# Local Netlify folder
.netlify
