/* @font-face {
    font-family: "mont-light";
    src: url("../../fonts/mont/Mont-ExtraLightDEMO.otf") format("opentype");
}

@font-face {
    font-family: "mont-heavy";
    src: url("../../fonts/mont/Mont-HeavyDEMO.otf") format("opentype");
} */

/* 
LIGHT-BLUE: #7CD0FA
YELLOW: #FDC933
DARK-BLUE: #002339
*/

/* ----- GENERAL STYLES ----- */

html, body {
    overflow-x: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.text-theme-light-blue {
    color: #7CD0FA;
}

.text-theme-yellow {
    color: #FDC933;
}

.text-theme-dark-blue {
    color: #002339;
}

.yellow-btn {
    border: 0px;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    background-color: #FDC933;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
}

.yellow-btn:hover {
    background-color: #002339;
    color: #FFFFFF;
}

.light-blue-btn {
    border: 0px;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    background-color: #7CD0FA;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
}

.light-blue-btn:hover {
    background-color: #002339;
    color: #FFFFFF;
}

/*----- Home Page ----- */


.Container {
    margin: 0 !important;
    padding: 0 !important;
}

#home-page-hero-image {
    background-image: url('../assets/img/yoga-stretching-photo-03.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
    
#hero-image h1 {
    font-size: 3rem;
}
    
#hero-image p {
    font-size: 1.5rem;
}

.home-page-image {
    object-fit: contain;
    width: 25em;
}

#home-page-section-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #7CD0FA;
    height: 25rem;
    width: 100vw;
    margin: 0;
    padding: 25px;
}

#home-page-section-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7CD0FA;
    color: #002339;
    font-size: 1.5em;
    word-wrap: break-word;
    text-align: center; 
    height: 25rem;
    width: 100vw;
    margin: 0 auto;
    padding: 25px;
    }

#home-page-section-02 p {
    max-width: 80%; /* Limit width of text to prevent overflow */
    margin: 0 auto; /* Center the text horizontally */
}

#home-page-section-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #002339;
    font-size: 1.5em;
    word-wrap: break-word;
    text-align: center;
    height: 25rem;
    width: 100vw;
    margin: 0 auto;
    padding: 25px;
}

#home-page-section-03 p {
    max-width: 80%; /* Limit width of text to prevent overflow */
    margin: 0 auto; /* Center the text horizontally */
}

#home-page-section-04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7CD0FA;
    color: #002339;
    font-size: 1.5em;
    word-wrap: break-word; 
    text-align: center; 
    height: 25rem;
    width: 100vw;
    margin: 0 auto;
    padding: 25px;
}

#home-page-section-04 p {
    max-width: 80%; /* Limit the width of text to prevent overflow */
    margin: 0 auto; /* Center the text horizontally */
}



/*----- WorkoutBuilder Page ----- */

.theme-dark-blue {
    background-color: #00233975;
}

.theme-yellow {
    background-color: #FDC93375;
}

.theme-light-blue {
    background-color: #7cd0fa75;
}

.weeklySchedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dayOfTheWeek {
    min-height: 12em;
    min-width: 15em;
    max-height: 12em;
    max-width: 15em;
    padding: 10px;
    margin: 10px;
    background-color: #7cd0fa75;
    border-color: #002339;
    border-radius: 25px;
    border-width: 5px;
    overflow-y: auto;
}

.dayOfTheWeek::-webkit-scrollbar {
    width: 0.5em;
}

.dayOfTheWeek::-webkit-scrollbar-thumb {
    background-color: #00233925 ;
    border-radius: 25px;
}

.dayOfTheWeek::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
}

.dayOfTheWeek::-webkit-scrollbar-track-piece:end {
    margin-bottom: 10px;
}



.smallDailyExerciseCard {
    background-color: #00233925;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
}

.smallDailyExerciseCard p {
    font-size: x-small;
    margin: 0;
    padding: 5px;
}

.smallDailyExerciseCardButton {
    color: white;
    background-color: #00233915;
    border-width: 0;
    width: 65px;
    height: 20px;
    text-align: center;
    font-size: xx-small;
    transition: 0.5s;
    border-radius: 25px;
}

.smallDailyExerciseCardButton:hover {
    background-color: #00233975;

}

.saveWorkoutButton {
    background-color: #7CD0FA;
    color: #FFFFFF;
    margin: auto;
    padding: 0px;
    border: 0px;
    border-radius: 2em;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.saveWorkoutButton:hover {
    background-color: #FDC933;
}

.workoutBuilderColumnBlue {
    background-color: #7CD0FA85;
    border: 2px solid #002339;
    border-radius: 2rem;
    height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    margin-bottom: auto;
    
}

.workoutBuilderColumnBlue::-webkit-scrollbar {
    width: 0.5em;
}

.workoutBuilderColumnBlue::-webkit-scrollbar-thumb {
    background-color: #00233925 ;
    border-radius: 25px;
}

.workoutBuilderColumnBlue::-webkit-scrollbar-track-piece:start {
    margin-top: 4em;
}

.workoutBuilderColumnBlue::-webkit-scrollbar-track-piece:end {
    margin-bottom: 4em;
}

.workoutBuilderColumnYellow {
    background-color: #FDC93385;
    border: 2px solid #002339;
    border-radius: 2rem;
    height: 80vh;
    overflow-y: auto;
    padding: 1rem;

}

.currentDaySelect {
    margin: 2rem;
    padding: 1rem;
    border-radius: 2em;
    border: 2px solid #002339;
}


/*----- Trainers Page ----- */

#trainers-hero-image {
    background-image: url('../assets/img/personal-trainer-looking-at-notebook-with-client-01.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
}

.trainers-page-image {
    object-fit: contain;
    width: 100%;
    height: 80%;
}

#trainers-section-01 {
    text-align: center;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.trainer-container {
    display: flex;
    padding: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}


.trainer-box {
    background-color: #7CD0FA;
    padding: 1em;
    margin: 0.5em;
    min-width: 10em;
    min-height: 10em;
    width: 15em;
    height: 24em;
    border-radius: 2em;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.trainer-box:hover {
    background-color: #FDC933;
}


.trainer-image {
    border-radius: 50%;
    max-width: 200px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.trainer-image:hover {
    border-radius: 25%;
    transform: scale(1.5, 1.5);
}

.trainer-box-text {
    margin: 10px;
    word-wrap: break-word;
}

#trainers-section-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(124, 208, 250, 0.467);
    color: #FFFFFF;
    font-size: 2em;
    text-align: center; 
    height: 600px;
    width: 100vw;
    margin: 0 auto;
    padding: 50px;
    background-image: linear-gradient(45deg, transparent, rgb(124, 208, 250, 0.50), rgb(253, 201, 51, 0.50)), url('../assets/img/personal-trainer-and-group-of-people-outside-01.png');
    background-size: cover;
    background-position: center top;
}

#trainers-section-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #002339;
    font-size: 1.2em;
    word-wrap: break-word; 
    text-align: center; 
    height: auto;
    width: 100vw;
    margin: 0 auto;
    padding: 50px;
}

#trainers-section-04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7CD0FA;
    color: #002339;
    font-size: 1.2em;
    word-wrap: break-word; 
    text-align: center; 
    height: auto;
    width: 100vw;
    margin: 0 auto;
    padding: 50px;
}

/*----- Classes Page ----- */

#classes-page-hero-image {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/gym-class-02.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8em;
    font-weight: bold;
    text-align: center;
}


.classes-container {
    display: flex;
    margin: 0;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.class-box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    background-color: #a7a7a7;
    color: #3c3c3c;
    border-radius: 25px;
    flex: 1 1 25%;
    min-height: 200px;
    min-width: 300px;
    height: 12em;
    box-sizing: border-box;
}

.class-box:hover {
    background-color: #7CD0FA;
}

.classes-page-class-description {
    font-size: 75%;
}

.classes-page-class-days {
    font-size: 75%;
}

#classes-page-section-01 {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    background-color: #7CD0FA;
}

#classes-page-section-02 {
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#classes-page-section-02 h1 {
    text-align: center;
}

/*----- About Page ----- */

#about-page-hero-image {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/members-outside-gym.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8rem;
    height: 600px;
    width: 100vw;
    font-weight: bold;
    text-align: center;

}

#about-page-section-01 {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7CD0FA;
    padding: 50px;
}

.about-page-section-01-text {
    width: 75%;
    font-size: 1em;
}

#about-page-section-02 {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-page-section-01-box {
    width: 200px;
    height: 600px;
    text-wrap: wrap;
    margin: 25px;
    margin-bottom: 50px;

}

.about-page-section-01-box-img {
    width: 200px;
    height: auto;
}

#about-page-section-03 {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7CD0FA;
}

.classes-page-section-03-text {
    font-size: 1em;
}

.classes-page-section-03-text-container {
    width: 50%;
    margin: 50px;
}

/*----- Auth Page ----- */

.auth-page-container {
    position: relative; /* Make sure the container can be positioned */
    margin: 0;
    text-align: center;
    padding: 20px;
    height: 800px;
    overflow: hidden; /* Prevents overflow of blurred pseudo-element */
}

.auth-page-container::before {
    content: "";
    position: absolute; /* Position it absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/yoga-stretching-photo-01.png');
    background-position: center;
    background-size: cover; /* Ensures the image covers the container */
    filter: blur(8px); /* Applies the blur only to the background image */
    z-index: -1; /* Ensures the pseudo element stays behind the content */
}

.auth-toggle-buttons-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.auth-toggle-buttons:hover {
    background-color: #FDC933;
}

.auth-page-button {
    background-color: #7CD0FA;
    color: #FFF;
    margin: 0.1em;
    padding: 1em;
    border-radius: 10px;
    border: 0px;
    width: 8em;
}
.auth-page-button-active {
    background-color: #FDC933;
    color: #FFF;
    margin: 0.1em;
    padding: 1em;
    border-radius: 10px;
    border: 0px;
    width: 8em;
}
.auth-form-container {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #dddddd4d;
}

.auth-form-container {
    margin-top: 20px;
}

/*----- User Dashboard Page ----- */

.user-dashboard-page-container {

}

.user-dashboard-header {
    background-color: #7CD0FA;
    padding: 2em;
}

.user-dashboard-user-info-card {
    
}