/* 
LIGHT-BLUE: #7CD0FA
YELLOW: #FDC933
DARK-BLUE: #002339
*/

.exercise-card {
    width: 100%;
    min-width: 1em;
    background-color: #00233925;
    color: #FFFFFF;
    border: 4px solid #00233950;
    padding: 1rem;
    margin: auto;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.exercise-card:hover {
    /* background-color: #00233975; */
    background-color: #FDC93350;
    color: #002339;

}

.exercise-card-title {
    font-size: 1em;
}

.exercise-title {
    background: -webkit-linear-gradient(#7DC0FA, #FDC933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.operator-button {
    min-width: 25px;
    min-height: 25px;
    padding: 2px;
    background-color: transparent;
    border: 2px solid #00233950;
    color: #002339;
    font-weight: bold;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.operator-button:hover {
    background-color: #7DC0FA50;
    color: #002339;
}

.dumbbell-icon {
    border-radius: 50%;
    width: 50%;
    height: auto;
}

/* EXERCISE LIST */

/* 
LIGHT-BLUE: #7CD0FA
YELLOW: #FDC933
DARK-BLUE: #002339
*/

.exercise-list-card {
    width: auto;
    background-color: #00233925;
    color: #FFFFFF;
    border: 4px solid #00233950;
    padding: 1em;
    margin: 1em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.exercise-list-card:hover {
    /* background-color: #00233975; */
    background-color: #FDC93350;
    color: #002339;

}

.exercise-list-card-title {
    font-size: 1em;
    margin: 0.5em;
}

.exercise-list-title {
    background: -webkit-linear-gradient(#7DC0FA, #FDC933);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.exercise-list-operator-button {
    min-width: 1em;
    min-height: 1em;
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid #00233950;
    color: #002339;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    border-radius: 15%;
}

.exercise-list-operator-button:hover {
    background-color: #7DC0FA50;
    color: #002339;
}

.exercise-list-dumbbell-icon {
    border-radius: 50%;
    width: 25%;
    height: auto;
}
